# Ignore binary files
bin/
obj/
backend/obj
# Ignore NuGet packages
*.nupkg
*.snupkg
packages/
*.pdb
appsettings.Development.json
appsettings.json
# Ignore les fichiers de configuration IDE
.vscode/
.idea/
.vs/
# Ignore binary files
bin/
obj/

Program.cs
appsettings.json