@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

@if(ViewBag.message != null)
{
    <p class="alert alert-success">@ViewBag.message</p>
}

@if (User.Identity.IsAuthenticated)
{
    <p class="display-4">Welcome @User.Identity?.Name!</p>
   
    <p class="text-decoration-underline">you are an admin of this page!, you are a sale manager</p>
     
    <p> <a asp-controller="Order" asp-action="CreateOrder" class="btn btn-primary">Create an order</a>.</p>
    <p> <a asp-controller="Order" asp-action="getOrders" class="btn btn-primary">consult current order</a>.</p>

    <p> <a asp-controller="Order" asp-action="Products" class="btn btn-primary">all Products</a>.</p>
    <p> <a asp-controller="Order" asp-action="getCommande" class="btn btn-primary">all orders</a>.</p>
        
    
    
    
        

   
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p class="display-5 bg-warning">you are not signed in</p>
        <p>the accout of the sale manager is</p>
        <p> username = sahbi</p>
        <p> password = Sahbi2003* </p>
      
    </div>

}